<header>
    <navbar class="navbar bg-base-100" data-controller="navbar">
        <div class="flex-1">
            <a class="btn btn-ghost normal-case text-xl" href="{% url 'home' %}">Django Starter Kit</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal p-0">
                <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% if user.is_authenticated %}
                    <li>
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-ghost">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'account_login' %}">Login</a></li>
                    <li><a href="{% url 'account_signup' %}">Sign up</a></li>
                {% endif %}
            </ul>
        </div>
    </navbar>
</header>
